{include file="header.html"}
<div id="main" class="w-full">
	<div class="page-apply">
		<div class="content clearfix">
			<ul class="list">
				<li><i></i>{$lang.apply_agreement}</li>
				<li><i></i>{$lang.apply_fill}</li>
				<li><i></i>{$lang.apply_verify}</li>
				<li><i></i>{$lang.apply_open}</li>
			</ul>
			<div class="extra">
            	<div class="fixed-gap"></div>
            	<a href="{url route='apply/agreement'}" class="btn-alipay btn-alipay-fixed">{$lang.i_apply}</a>
            </div>
		</div>
	</div>
</div>
</div>
{include file="footer.html"}