{include file="header.html"}
<div id="main" class="w-full">
  <div id="page-find-password" class="w-full page-auth mb20">
    <form method="POST" class="fun-form-style">
      <div class="form pb20">
        <dl>
          <dd class="webkit-box"> <span>{$lang.new_password}</span>
            <input type="text" class="input clearInput flex1" name="password" oninput="javascript:clearInput(this)" placeholder="{$lang.new_password}" />
            <i class="input-del J_InputDel wind-icon-font hidden">&#xe66e;</i> </dd>
        </dl>
        <dl>
          <dd class="webkit-box"> <span>{$lang.confirm_password}</span>
            <input type="text" class="input clearInput flex1" name="confirmPassword" oninput="javascript:clearInput(this)" placeholder="{$lang.confirm_password}" />
            <i class="input-del J_InputDel wind-icon-font hidden">&#xe66e;</i> </dd>
        </dl>
        <div class="extra mt10">
          	<div class="fixed-gap"></div>
     		<input type="submit" value="{$lang.submit}" class="btn-alipay btn-alipay-fixed J_AjaxSubmit" />
        </div>
      </div>
    </form>
  </div>
</div>
{include file="footer.html"}