{include file="header.html"} 
<div id="main" class="w-full">
  <div id="page-find-password" class="w-full page-auth mb20">
    <form  method="POST" class="fun-form-style">
      <div class="form pb20">
        <dl>
          <dd class="webkit-box"> <span>{$lang.username}</span>
            <input type="text" class="input clearInput flex1" name="username" value="" oninput="javascript:clearInput(this)" placeholder="{$lang.your_username}" />
            <i class="input-del J_InputDel wind-icon-font hidden">&#xe66e;</i> </dd>
        </dl>
        
        <dl>
          <dd class="webkit-box captcha"> <span>{$lang.captcha}</span>
            <input type="text" name="captcha" class="input clearInput flex1" id="captcha1" oninput="javascript:clearInput(this)" placeholder="{$lang.input_captcha}" />
            <img onclick="change_captcha($(this))" id="captcha" src="{url route='default/captcha' v=uniqid('', true)}" /> </dd>
        </dl>
        <div class="extra mt10">
          	<div class="fixed-gap"></div>
            <input type="hidden" name="codeType" value="" />
            <input type="hidden" name="code" value="" />
            <input type="submit" value="{$lang.submit}" class="btn-alipay btn-alipay-fixed" title="{$lang.find_password}" />
          
        </div>
      </div>
    </form>
  </div>
</div>
<script type="text/javascript">
$(function(){
	$('body').on('touchend click', '.masker', function(){
		DialogManager.close("find_password");
	});
	
	$('form').submit(function(){
		var codeType = $.trim($('input[name="codeType"]').val());
		var code     = $.trim($('input[name="code"]').val());
		var username = $.trim($('input[name="username"]').val());
		if(username == '' || username == undefined) {
			layer.open({ content:'{$lang.username_required}'});
			return false;
		}
		else {
   			ajax_form('find_password', lang.captcha, url(['gselector/verifycode', { title:lang.captcha,id:'find_password',username:username}]), '300', 'simple-blue', '0.5', 'bottom');
			return false;
		}
	});
	
});
function gs_callback(id, codeType, code)
{
	$('input[name="codeType"]').val(codeType);
	$('input[name="code"]').val(code);
	DialogManager.close(id);
	ajaxSubmit($('form').attr('method'), window.location.href, $('form'), '', null);
}
</script>
{include file="footer.html"}